<!DOCTYPE html>
<html lang="en">
<head>
    <title>How to Navigate Extreme Heat?</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
</head>
<body class="is-preload">


<section id="header">
				<div class="inner">
					<span class="icon solid major fa-fire"></span>
					<h1>How to Navigate</h1>
					<h1>Extreme Heat?</h1>
					<p>What are some practical tips to stay cool amid rising heat?</p>
					<ul class="actions special">
						<li><a href="#one" class="button scrolly">Learn More</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style1">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>Cases of extreme heat are rising<br />
								across the globe.</h2>
							</header>
							<p>This app is meant to serve as a hub where people who have experience navigating extreme heat can share helpful advice. Feel free to see advice below, upvote your favorites, and add your own at the bottom.</p>
						</div>
						<div class="col-6 col-12-medium imp-medium">
							<span class="image fit"><img src="images/sweat.jpeg" alt="" /></span>
						</div>
						<ul class="actions special stacked" id="scroll-button-section">
							<li><a href="#four" class="button scrolly" id="scrolly-two">Submit Advice</a></li>
							<li><a href="#two" class="button scrolly" id="scrolly-one">View Advice</a></li>
						</ul>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="main style2">
				<div class="container">
					<div class="row gtr-150">				
							<section class="adviceSection">
								<ul class="adviceList">
									<% for(let i=0; i < info.length; i++) {%>
										<li class="advice">
											<span id="adviceText"><%= info[i].adviceText %></span>
											<span id="contributorName"><%= info[i].contributorName %></span>
											<span class='fa fa-hand-holding-heart'></span>
											<span id="likes"><%= info[i].likes %></span>
											<!-- <span class='fa fa-trash'></span> -->
										</li>
									<% } %>
								</ul>
							</section>
						
					</div>
				</div>
			</section>

            <section id="four" class="main style2 special">
				<div class="container">
					<header class="major">
						<h2>Add Your Own Advice:</h2>
					</header>
					<section id="form-section">
						<form action="/addAdvice" method="POST">
							<input type="textarea" placeholder="Your Advice" name="adviceText" class="adviceInput" id="advice-form">
							<input type="text" placeholder="Your Name" name="contributorName" id="contributor-form">
						<ul class="actions special">
							<li><input type="submit" class="button wide primary"></li>
							<li><a href="#header" class="button wide">Go To Top</a></li>
						</ul>
						</form>
					</section>
				</div>
			</section>


            <!-- Footer -->
			<section id="footer">
				<!-- <ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul> -->
				<span>* For entertainment purposes only. No content in this application should be construed as professional advice.</span> 
				<span>Always consult appropriate professionals prior to making any life-impacting decisions.</span>

			</section>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>




</body>
</html>